.container {
    width: 1296px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 52px;
    background: #1E293B;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header-block-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 273px;
    height: 36px;
    gap: 24px;
}

.header-block-btns-signin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70px;
    height: 36px;
    border: 0;
    border-radius: 4px;
    padding: 8px 0;
    gap: 8px;
    background: inherit;
    color: #FFFFFF;
}

.header-block-btns-signin:hover {
    color: #3B82F6;
}

.header-block-btns-new-ad {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 179px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    gap: 4px;
    background: inherit;
    background-color: #3B82F6;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.header-block-btns-new-ad:hover {
    background-color: #fff;
    border: 1px solid #3B82F6;
    color: #3B82F6;
}

.main-header {
    height: 84px;
    border-bottom: 1px solid #E2E8F0;
}

.main-header-search {
    display: flex;
    align-items: center;
    justify-content: inherit;
    padding: 24px 0;
    width: 100%;
    height: 36px;
    /*gap: 24px;*/
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #1E293B;
}

.main-header-search-btn-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 36px;
    padding: 8px 12px;
    margin: 0 12px 0 24px;
    border: 1px solid #3B82F6;
    border-radius: 4px;
    gap: 8px;
    background: inherit;
    color: #3B82F6;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.main-header-search-btn-categories:hover {
    background-color: #3B82F6;
    color: #fff;
}

.main-header-search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 824px;
    height: 36px;
}

label {
    width: 734px;
}

.main-header-search-form input {
    width: 734px;
    padding: 8px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 4px 0 0 4px;
    color: #1E293B;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-header-search-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 36px;
    padding: 8px 12px;
    border: 0;
    border-radius: 0 4px 4px 0;
    gap: 8px;
    background: inherit;
    background-color: #3B82F6;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.main-header-search-form button:hover {
    background-color: #FFFFFF;
    border: 1px solid #3B82F6;
    color: #3B82F6;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1E293B;
}

.main-recommendation {
    padding-top: 32px;
}

.main-recommendation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 32px;
    row-gap: 32px;
    column-gap: 24px;
}

.main-recommendation-list-item {
    width: 306px;
    height: 336px;
    gap: 8px;
}

.main-recommendation-list-item img {
    width: 306px;
    height: 240px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}

.main-recommendation-list-item-text {
    width: 306px;
    height: 88px;
}

.main-recommendation-list-item-text h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #3B82F6;
}

.price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1E293B;
}

.geo, .published-date {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}

footer {
    height: 152px;
    background: #1E293B;
}
