.container {
    width: 1296px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 52px;
    background: #1E293B;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header-block-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 273px;
    height: 36px;
    gap: 24px;
}

.header-block-btns-signin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70px;
    height: 36px;
    border: 0;
    border-radius: 4px;
    padding: 8px 0;
    gap: 8px;
    background: inherit;
    color: #FFFFFF;
}

.header-block-btns-signin:hover {
    color: #3B82F6;
}

.header-block-btns-new-ad {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 179px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    gap: 4px;
    background: inherit;
    background-color: #3B82F6;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.header-block-btns-new-ad:hover {
    color: #fff;
}